.groupSquare::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.groupSquare {
  background-color: #000000;
  position: relative;
}

.groupSquare > .groupEntertainmentArea {
  bottom: 5%;
  left: 5%;
  position: absolute;
  right: 5%;
  top: 5%;
}
