# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          check-latest: true
      - run: yarn install
      - run: yarn build
      - run: yarn flow
      - run: yarn test src/ui --coverage --collectCoverageFrom=src/ui/** && yarn codecov -C -F ui
      - run: yarn test src/api --coverage --collectCoverageFrom=src/api/** && yarn codecov -C -F api
      - run: yarn test --testPathIgnorePatterns="src/(ui|api)" --coverage && yarn codecov -C -F app
